/* Colors */
/* Colors */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* body */
html {
  font-size: 18px; }

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  position: relative; }

/* container */
.container {
  max-width: calc( 1104px + ( 2 * 2rem ) );
  padding: 0 2rem;
  margin: 0 auto; }
  @media screen and (max-width: 475px) {
    .container {
      width: 100%;
      padding: 0 31px; } }

/* lists */
ul, ol {
  list-style: none; }

/* links */
a {
  text-decoration: none; }

/* images */
img {
  display: block;
  width: 100%;
  height: 100%; }

/* some helper classes */
.hide {
  display: none !important; }

.for-mobile {
  display: none !important; }
  @media screen and (max-width: 475px) {
    .for-mobile {
      display: initial !important; } }

@media screen and (max-width: 475px) {
  .hide-on-mobile {
    display: none !important; } }

/* Colors */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 48px; }
header .logo {
  margin-top: 8px; }
header .nav-links {
  display: flex;
  gap: 44px;
  align-items: start;
  padding-bottom: 6px; }
  header .nav-links__item a {
    text-transform: uppercase;
    color: #242a45;
    font-size: 13px;
    margin-top: 12px;
    display: block;
    letter-spacing: 1.5px; }
    header .nav-links__item a:hover {
      color: #fa5959; }
  header .nav-links .btn-login a {
    border-radius: 5px;
    padding: 12px 32px;
    background-color: #fa5959;
    font-size: 500;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 0;
    color: white;
    box-sizing: border-box;
    letter-spacing: 1.5px; }
    header .nav-links .btn-login a:hover {
      color: #fa5959;
      background-color: white;
      outline: 2px solid #fa5959;
      outline-offset: -2px; }
header #humberger-menu {
  display: block;
  align-self: center;
  width: 18px; }

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: rgba(36, 42, 69, 0.9);
  z-index: 999;
  color: white;
  transform-origin: top right;
  transform: scale(0);
  transition: .1s linear; }
  .menu > .container {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .menu.open {
    transform: scale(1); }
  .menu nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 48px;
    width: 100%; }
  .menu .logo {
    margin-top: 8px; }
  .menu #close-menu {
    width: 18px;
    align-self: center; }
  .menu .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; }
    .menu .content .container {
      padding: 0; }
    .menu .content ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 24px; }
      .menu .content ul li {
        padding: 25px 0;
        border-bottom: 1px solid rgba(145, 148, 162, 0.5); }
        .menu .content ul li:first-child {
          border-top: 1px solid rgba(145, 148, 162, 0.5); }
      .menu .content ul a {
        font-size: 20px;
        line-height: 17px;
        letter-spacing: 2.3px;
        text-transform: uppercase;
        color: white;
        display: inline-block; }
    .menu .content #login {
      color: white;
      text-align: center;
      display: block;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 17px;
      letter-spacing: 2.3px;
      font-weight: 500;
      border-radius: 5px;
      border: 2px solid white;
      padding: 16px 0; }
    .menu .content .social {
      display: flex;
      justify-content: center;
      gap: 40px;
      color: white;
      margin: 96px; }
      .menu .content .social a {
        color: white;
        font-size: 24px; }
  .menu .social {
    justify-self: end; }

.intro {
  position: relative;
  padding-top: 179px;
  padding-bottom: 123px; }
  @media screen and (max-width: 475px) {
    .intro {
      padding-top: 80px;
      padding-bottom: 140px; } }
  .intro::after {
    content: '';
    display: block;
    height: 352px;
    background-color: #5267df;
    position: absolute;
    right: 0;
    border-radius: 316.5px 0 0 316.5px;
    bottom: 0;
    z-index: -1;
    left: calc(50% + 204px); }
    @media screen and (max-width: 475px) {
      .intro::after {
        width: 81%;
        left: unset;
        right: 0;
        height: 203px;
        top: calc(80px + 52px);
        bottom: unset; } }
  .intro .container {
    display: flex;
    gap: 65px; }
    @media screen and (max-width: 475px) {
      .intro .container {
        flex-direction: column-reverse;
        gap: 50px; } }
  .intro .intro-hero {
    position: relative;
    flex: 1;
    transition: 1s ease-in;
    opacity: 0;
    transform: translateX(50px); }
    @media screen and (max-width: 475px) {
      .intro .intro-hero {
        width: 100%; } }
    .intro .intro-hero img {
      position: absolute;
      height: auto;
      z-index: 99;
      width: calc(100% + 73px);
      transform: scale(1.13);
      bottom: -21%; }
      @media screen and (max-width: 475px) {
        .intro .intro-hero img {
          transform: none;
          position: relative;
          width: 100%; } }
  .intro .intro-text {
    max-width: 540px;
    transition: 1s ease-in;
    opacity: 0;
    transform: translateX(-50px); }
    .intro .intro-text .title {
      font-size: 48px;
      color: #242a45;
      letter-spacing: 0.15px;
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 52px; }
      @media screen and (max-width: 475px) {
        .intro .intro-text .title {
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 16px; } }
    .intro .intro-text p {
      color: #9194a2;
      line-height: 28px;
      margin-bottom: 32px; }
      @media screen and (max-width: 475px) {
        .intro .intro-text p {
          font-size: 15px;
          line-height: 25px; } }
    @media screen and (max-width: 475px) {
      .intro .intro-text {
        max-width: none;
        width: 100%;
        text-align: center; } }
  .intro .actions {
    display: flex;
    gap: 16px; }
    @media screen and (max-width: 475px) {
      .intro .actions {
        gap: 14px; } }
    .intro .actions a, .intro .actions a::after {
      transition: .3s ease-in; }
    .intro .actions a {
      line-height: 28px;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 24px;
      border-radius: 5px;
      box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
      position: relative; }
      @media screen and (max-width: 475px) {
        .intro .actions a {
          font-size: 14px;
          line-height: 28px;
          padding: 10px 16px;
          flex: 1; } }
      .intro .actions a::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        border-radius: 5px;
        border: 2px solid transparent; }
      .intro .actions a:first-child {
        background-color: #5267df;
        color: white; }
        .intro .actions a:first-child:hover {
          color: #5267df;
          background-color: white; }
          .intro .actions a:first-child:hover::after {
            border-color: #5267df; }
      .intro .actions a:nth-child(2) {
        background-color: #f7f7f7;
        color: #242a45; }
        .intro .actions a:nth-child(2):hover {
          color: #242a45;
          background-color: white; }
          .intro .actions a:nth-child(2):hover::after {
            border-color: #242a45; }
  .intro.visible .intro-hero {
    opacity: 1;
    transform: translateX(0); }
  .intro.visible .intro-text {
    opacity: 1;
    transform: translateX(0); }

.features-header {
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 530px; }
  .features-header .title {
    color: #242a45;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: 0.1px;
    font-weight: 500;
    margin-bottom: 16px; }
    @media screen and (max-width: 475px) {
      .features-header .title {
        font-size: 24px;
        line-height: 52px;
        margin-bottom: 0; } }
  .features-header p {
    color: #9194a2;
    line-height: 28px; }
    @media screen and (max-width: 475px) {
      .features-header p {
        font-size: 15px;
        line-height: 25px; } }
.features .tabs {
  margin-top: 72px; }
  @media screen and (max-width: 475px) {
    .features .tabs {
      margin-top: 40px; } }
  .features .tabs .tab-items {
    display: flex;
    margin: 0 auto;
    max-width: calc(243px * 3);
    height: 49px;
    border-bottom: 1px solid rgba(145, 148, 162, 0.3); }
    @media screen and (max-width: 475px) {
      .features .tabs .tab-items {
        flex-direction: column;
        border: none;
        height: auto; } }
  .features .tabs .tab-item {
    display: block;
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #242a45;
    cursor: pointer;
    border-bottom: none;
    position: relative; }
    .features .tabs .tab-item:hover {
      color: #fa5959; }
    .features .tabs .tab-item.active {
      border-bottom: 4px solid #fa5959; }
      @media screen and (max-width: 475px) {
        .features .tabs .tab-item.active::after {
          content: '';
          height: 4px;
          width: 143px;
          position: absolute;
          bottom: 0;
          background-color: #fa5959;
          left: 50%;
          transform: translateX(-50%); } }
    @media screen and (max-width: 475px) {
      .features .tabs .tab-item {
        line-height: 17px;
        letter-spacing: 0.53px;
        padding: 21px 0;
        border-bottom: 1px solid rgba(145, 148, 162, 0.3) !important; }
        .features .tabs .tab-item:first-child {
          border-top: 1px solid rgba(145, 148, 162, 0.3) !important; } }
.features .tabs-content {
  position: relative;
  height: 510px; }
  @media screen and (max-width: 475px) {
    .features .tabs-content {
      height: calc(485px + 77px + 30px); } }
  .features .tabs-content:after {
    content: '';
    height: 45.28%;
    height: 352px;
    border-radius: 0 316.5px 316.5px 0;
    background-color: #5267df;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    right: calc(50% + 80px); }
    @media screen and (max-width: 475px) {
      .features .tabs-content:after {
        height: 203px;
        width: 82%;
        top: 107px; } }
  .features .tabs-content .container {
    position: relative; }
  .features .tabs-content .tab-content {
    padding-top: 72px;
    padding-bottom: 89px;
    position: absolute;
    left: 0;
    right: 0; }
    @media screen and (max-width: 475px) {
      .features .tabs-content .tab-content {
        padding-bottom: 77px; } }
    .features .tabs-content .tab-content .container {
      gap: 11.3%;
      display: flex;
      justify-content: end; }
      @media screen and (max-width: 475px) {
        .features .tabs-content .tab-content .container {
          flex-direction: column;
          width: 100%;
          gap: 70px; } }
      .features .tabs-content .tab-content .container .illustration, .features .tabs-content .tab-content .container .text {
        transition: 0.3s ease-out; }
      .features .tabs-content .tab-content .container .illustration {
        transform: translateX(-80px);
        opacity: 0;
        width: 48.46%; }
        @media screen and (max-width: 475px) {
          .features .tabs-content .tab-content .container .illustration {
            width: 100%; } }
      .features .tabs-content .tab-content .container .text {
        width: 40.5%;
        padding-top: 57px;
        transform: translateX(80px);
        opacity: 0; }
        @media screen and (max-width: 475px) {
          .features .tabs-content .tab-content .container .text {
            width: 100%;
            text-align: center;
            padding: 0;
            display: none; } }
        .features .tabs-content .tab-content .container .text .title {
          font-size: 32px;
          color: #242a45;
          line-height: 52px;
          font-weight: 500;
          margin-bottom: 16px; }
          @media screen and (max-width: 475px) {
            .features .tabs-content .tab-content .container .text .title {
              font-size: 24px;
              line-height: 52px; } }
        .features .tabs-content .tab-content .container .text p {
          color: #9194a2;
          line-height: 28px;
          max-width: 445px;
          margin-bottom: 32px; }
          @media screen and (max-width: 475px) {
            .features .tabs-content .tab-content .container .text p {
              line-height: 25px;
              font-size: 15px; } }
        .features .tabs-content .tab-content .container .text a {
          padding: 10px 24px;
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0.25px;
          color: white;
          border-radius: 5px;
          background-color: #5267df;
          display: inline-block; }
          @media screen and (max-width: 475px) {
            .features .tabs-content .tab-content .container .text a {
              font-size: 14px;
              letter-spacing: 0.2px;
              line-height: 28px; } }
    .features .tabs-content .tab-content.active {
      transition-timing-function: ease-in; }
      .features .tabs-content .tab-content.active .illustration {
        transform: translateX(0);
        opacity: 1; }
      .features .tabs-content .tab-content.active .text {
        transform: translateX(0);
        opacity: 1;
        display: block; }
.features #tab2 .illustration {
  display: flex;
  justify-content: end; }
  .features #tab2 .illustration img {
    width: 87.31%; }
    @media screen and (max-width: 475px) {
      .features #tab2 .illustration img {
        width: 100%; } }
.features #tab3 .illustration {
  display: flex;
  justify-content: end; }
  .features #tab3 .illustration img {
    width: 82%; }
    @media screen and (max-width: 475px) {
      .features #tab3 .illustration img {
        width: 100%; } }

.download-extension {
  text-align: center;
  padding-top: 149px; }
  @media screen and (max-width: 475px) {
    .download-extension {
      padding-top: 0px; } }
  .download-extension .header {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 48px; }
    @media screen and (max-width: 475px) {
      .download-extension .header {
        margin-bottom: 40px; } }
    .download-extension .header .title {
      font-size: 32px;
      font-weight: 500;
      line-height: 52px;
      color: #242a45;
      margin-bottom: 16px; }
      @media screen and (max-width: 475px) {
        .download-extension .header .title {
          font-size: 24px;
          line-height: 52px;
          margin: 0; } }
    .download-extension .header p {
      color: #9194a2;
      line-height: 28px; }
      @media screen and (max-width: 475px) {
        .download-extension .header p {
          font-size: 15px;
          line-height: 25px; } }
  .download-extension .extensions .container {
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: flex-start; }
    .download-extension .extensions .container.visible .extension {
      opacity: 1;
      transform: translateY(0); }
    @media screen and (max-width: 475px) {
      .download-extension .extensions .container {
        flex-direction: column;
        padding: 0;
        gap: 40px; } }
  .download-extension .extension {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
    max-width: 280px;
    flex: 1;
    opacity: 0;
    transform: translateY(-80px);
    transition: 0.5s ease-in; }
    @media screen and (max-width: 475px) {
      .download-extension .extension {
        max-width: none;
        width: 100%; } }
    .download-extension .extension:nth-child(1) img {
      max-width: 102px; }
    .download-extension .extension:nth-child(2) {
      transition-delay: .2s; }
      .download-extension .extension:nth-child(2) img {
        max-width: 105px; }
    .download-extension .extension:nth-child(3) {
      transition-delay: .4s; }
      .download-extension .extension:nth-child(3) img {
        max-width: 96px; }
    .download-extension .extension-body {
      text-align: center;
      padding-top: 49px;
      padding-bottom: 36px;
      background-image: url("../assets/bg-dots.svg");
      background-repeat: no-repeat;
      background-position: bottom; }
      .download-extension .extension-body img {
        margin: 0 auto;
        margin-bottom: 32px; }
      .download-extension .extension-body .title {
        font-size: 20px;
        letter-spacing: 0.25px;
        font-weight: 500;
        color: #242a45;
        margin-bottom: 6px; }
      .download-extension .extension-body p {
        font-size: 15px;
        color: #9194a2;
        line-height: 28px; }
    .download-extension .extension-footer {
      padding: 24px 26px; }
      .download-extension .extension-footer a, .download-extension .extension-footer a::after {
        transition: .3s ease-in;
        border-radius: 5px; }
      .download-extension .extension-footer a {
        display: block;
        width: 100%;
        background-color: #5267df;
        color: white;
        text-align: center;
        font-size: 14px;
        line-height: 28px;
        padding: 10px 24px;
        position: relative; }
        .download-extension .extension-footer a::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 2px solid transparent; }
        .download-extension .extension-footer a:hover {
          color: #5267df;
          background-color: white; }
          .download-extension .extension-footer a:hover::after {
            border-color: #5267df; }
    .download-extension .extension.firefox {
      margin-top: 40px; }
      @media screen and (max-width: 475px) {
        .download-extension .extension.firefox {
          margin-top: 0; } }
    .download-extension .extension.opera {
      margin-top: 80px; }
      @media screen and (max-width: 475px) {
        .download-extension .extension.opera {
          margin-top: 0; } }

.questions {
  padding-top: 149px;
  padding-bottom: 149px; }
  @media screen and (max-width: 475px) {
    .questions {
      padding-top: 140px;
      padding-bottom: 123px; } }
  .questions .container {
    max-width: 541px;
    padding: 0; }
    @media screen and (max-width: 475px) {
      .questions .container {
        padding: 0 32px; } }
  .questions .header {
    text-align: center;
    margin-bottom: 56px; }
    .questions .header .title {
      color: #242a45;
      font-weight: 500;
      font-size: 32px;
      line-height: 52px;
      margin-bottom: 16px; }
      @media screen and (max-width: 475px) {
        .questions .header .title {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 16px; } }
    .questions .header p {
      color: #9194a2;
      line-height: 28px;
      font-weight: 400;
      letter-spacing: 0;
      font-size: 18px;
      width: 100%;
      font-style: normal;
      display: flex; }
      @media screen and (max-width: 475px) {
        .questions .header p {
          font-size: 15px;
          line-height: 25px; } }
  .questions .accordion {
    margin-bottom: 54px; }
    .questions .accordion .accordion-item {
      border-bottom: 1px solid rgba(145, 148, 162, 0.5); }
      .questions .accordion .accordion-item:first-child {
        border-top: 1px solid rgba(145, 148, 162, 0.5); }
      .questions .accordion .accordion-item.open .title, .questions .accordion .accordion-item.open ion-icon {
        color: #fa5959; }
      .questions .accordion .accordion-item.open ion-icon {
        transform-origin: center;
        transform: rotate(180deg); }
      .questions .accordion .accordion-item.open .body {
        max-height: 100vh;
        visibility: visible; }
    .questions .accordion .head {
      padding: 18px 0;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .questions .accordion .head ion-icon {
        font-size: 20px;
        transition: .2s linear; }
      .questions .accordion .head:hover .title, .questions .accordion .head:hover ion-icon {
        color: #fa5959; }
    .questions .accordion .title {
      line-height: 32px;
      font-size: 18px;
      color: #242a45;
      font-weight: 400;
      flex: 1; }
      @media screen and (max-width: 475px) {
        .questions .accordion .title {
          font-size: 15px;
          line-height: 32px; } }
    .questions .accordion .icon {
      display: block;
      flex-shrink: 0;
      padding-top: 8px; }
    .questions .accordion .body {
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: .5s linear; }
      .questions .accordion .body p {
        font-size: 16px;
        line-height: 36px;
        color: #242a45;
        letter-spacing: 0.15px;
        padding: 11px 0; }
        @media screen and (max-width: 475px) {
          .questions .accordion .body p {
            font-size: 15px;
            line-height: 30px; } }
  .questions .action {
    padding: 10px 24px;
    font-weight: 500;
    color: white;
    font-size: 14px;
    line-height: 28px;
    background-color: #5267df;
    border-radius: 5px;
    display: table;
    margin: 0 auto; }

footer {
  background-color: #5267df; }
  footer .body {
    padding: 58px 0 74px 0;
    text-align: center;
    max-width: 442px; }
    @media screen and (max-width: 475px) {
      footer .body {
        padding: 0 32px;
        padding-top: 60px;
        padding-bottom: 38px; } }
  footer .title {
    font-size: 13px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
    letter-spacing: 5px; }
    @media screen and (max-width: 475px) {
      footer .title {
        line-height: 40px;
        letter-spacing: 4.5px; } }
  footer p {
    font-weight: 500;
    font-size: 32px;
    color: white;
    line-height: 40px;
    letter-spacing: -0.1px;
    margin-bottom: 36px; }
    @media screen and (max-width: 475px) {
      footer p {
        font-size: 24px; } }
  footer form {
    display: flex;
    gap: 16px; }
    @media screen and (max-width: 475px) {
      footer form {
        flex-direction: column; } }
    footer form input[type=email] {
      flex: 1;
      border-radius: 5px;
      background-color: white;
      line-height: 28px;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 20px;
      border: none;
      outline: none;
      color: #9194a2; }
      footer form input[type=email]::placeholder {
        color: rgba(145, 148, 162, 0.25); }
    footer form input[type=button] {
      background-color: #fa5959;
      border-radius: 5px;
      padding: 10px 24px;
      border: none;
      color: white;
      line-height: 28px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: .25px;
      position: relative;
      transition: .2s ease-in;
      font-weight: 500;
      cursor: pointer; }
      footer form input[type=button]:hover {
        outline: 2px solid #fa5959;
        background-color: white;
        color: #fa5959; }
  footer .links {
    background-color: #242a45; }
    footer .links nav {
      display: flex;
      padding: 32px 0;
      align-items: center; }
      @media screen and (max-width: 475px) {
        footer .links nav {
          flex-direction: column;
          gap: 40px; } }
      footer .links nav .logo {
        display: block;
        width: 148px;
        margin-right: 63px; }
        @media screen and (max-width: 475px) {
          footer .links nav .logo {
            margin: 0 auto; } }
      footer .links nav ul {
        display: flex;
        flex: 1;
        gap: 44px; }
        @media screen and (max-width: 475px) {
          footer .links nav ul {
            flex-direction: column; } }
        footer .links nav ul a {
          color: white;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 1.5px; }
          footer .links nav ul a:hover {
            color: #fa5959; }
      footer .links nav .social {
        display: flex;
        gap: 40px; }
        footer .links nav .social a {
          color: white;
          display: block;
          font-size: 32px; }
          footer .links nav .social a:hover {
            color: #fa5959; }
