/* Colors */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* body */
html {
  font-size: 18px;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

/* container */
.container {
  max-width: calc(1104px + 4rem);
  padding: 0 2rem;
  margin: 0 auto;
}

/* lists */
ul, ol {
  list-style: none;
}

/* links */
a {
  text-decoration: none;
}

/* images */
img {
  display: block;
  width: 100%;
  height: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 48px;
}
header .logo {
  margin-top: 8px;
}
header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 6px;
}
header .nav-links__item a {
  text-transform: uppercase;
  color: rgb(36, 42, 69);
  font-size: 13px;
  margin-top: 12px;
  display: block;
  letter-spacing: 1.5px;
}
header .nav-links .btn-login {
  border-radius: 5px;
  padding: 12px 32px;
  background-color: rgb(250, 89, 89);
  font-size: 500;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header .nav-links .btn-login a {
  margin-top: 0;
  color: white;
}

.intro {
  position: relative;
  padding-top: 179px;
  padding-bottom: 123px;
}
.intro::after {
  content: "";
  display: block;
  height: 352px;
  background-color: rgb(82, 103, 223);
  position: absolute;
  right: 0;
  border-radius: 316.5px 0 0 316.5px;
  bottom: 0;
  z-index: -1;
  left: calc(50% + 204px);
}
.intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}
.intro .intro-hero {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.intro .intro-hero img {
  position: absolute;
  height: auto;
  z-index: 99;
  width: calc(100% + 73px);
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  bottom: -21%;
}
.intro .intro-text {
  max-width: 540px;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.intro .intro-text .title {
  font-size: 48px;
  color: rgb(36, 42, 69);
  letter-spacing: 0.15px;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 52px;
}
.intro .intro-text p {
  color: rgb(145, 148, 162);
  line-height: 28px;
  margin-bottom: 32px;
}
.intro .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.intro .actions a {
  line-height: 28px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 5px;
}
.intro .actions a:first-child {
  background-color: rgb(82, 103, 223);
  color: white;
}
.intro .actions a:nth-child(2) {
  background-color: rgb(247, 247, 247);
  color: rgb(36, 42, 69);
  -webkit-box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
          box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
.intro.visible .intro-hero {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.intro.visible .intro-text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.features-header {
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 530px;
}
.features-header .title {
  color: rgb(36, 42, 69);
  font-size: 32px;
  line-height: 52px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin-bottom: 16px;
}
.features-header p {
  color: rgb(145, 148, 162);
  line-height: 28px;
}
.features .tabs {
  margin-top: 72px;
}
.features .tabs .tab-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 729px;
  height: 49px;
  border-bottom: 1px solid rgba(145, 148, 162, 0.3);
}
.features .tabs .tab-item {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 16px;
  color: rgb(36, 42, 69);
  cursor: pointer;
  border-bottom: none;
}
.features .tabs .tab-item.active {
  border-bottom: 4px solid rgb(250, 89, 89);
}
.features .tabs-content {
  position: relative;
  height: 510px;
}
.features .tabs-content:after {
  content: "";
  height: 45.28%;
  height: 352px;
  border-radius: 0 316.5px 316.5px 0;
  background-color: rgb(82, 103, 223);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  right: calc(50% + 80px);
}
.features .tabs-content .container {
  position: relative;
}
.features .tabs-content .tab-content {
  padding-top: 72px;
  padding-bottom: 89px;
  position: absolute;
  left: 0;
  right: 0;
}
.features .tabs-content .tab-content .container {
  gap: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.features .tabs-content .tab-content .container .illustration, .features .tabs-content .tab-content .container .text {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}
.features .tabs-content .tab-content .container .illustration {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  opacity: 0;
  width: 48.46%;
}
.features .tabs-content .tab-content .container .text {
  width: 40.5%;
  padding-top: 57px;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  opacity: 0;
}
.features .tabs-content .tab-content .container .text .title {
  font-size: 32px;
  color: rgb(36, 42, 69);
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 16px;
}
.features .tabs-content .tab-content .container .text p {
  color: rgb(145, 148, 162);
  line-height: 28px;
  max-width: 445px;
  margin-bottom: 32px;
}
.features .tabs-content .tab-content .container .text a {
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: white;
  border-radius: 5px;
  background-color: rgb(82, 103, 223);
  display: inline-block;
}
.features .tabs-content .tab-content.active {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
.features .tabs-content .tab-content.active .illustration {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.features .tabs-content .tab-content.active .text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.features #tab2 .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.features #tab2 .illustration img {
  width: 87.31%;
}
.features #tab3 .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.features #tab3 .illustration img {
  width: 82%;
}

.download-extension {
  text-align: center;
  padding-top: 149px;
}
.download-extension .header {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.download-extension .header .title {
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  color: rgb(36, 42, 69);
  margin-bottom: 16px;
}
.download-extension .header p {
  color: rgb(145, 148, 162);
  line-height: 28px;
}
.download-extension .extenstions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.download-extension .extension {
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
          box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  max-width: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.download-extension .extension:nth-child(1) img {
  max-width: 102px;
}
.download-extension .extension:nth-child(2) img {
  max-width: 105px;
}
.download-extension .extension:nth-child(3) img {
  max-width: 96px;
}
.download-extension .extension-body {
  text-align: center;
  padding-top: 49px;
  padding-bottom: 36px;
  background-image: url("../assets/bg-dots.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.download-extension .extension-body img {
  margin: 0 auto;
  margin-bottom: 32px;
}
.download-extension .extension-body .title {
  font-size: 20px;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: rgb(36, 42, 69);
  margin-bottom: 6px;
}
.download-extension .extension-body p {
  font-size: 15px;
  color: rgb(145, 148, 162);
  line-height: 28px;
}
.download-extension .extension-footer {
  padding: 24px 26px;
}
.download-extension .extension-footer a {
  display: block;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(82, 103, 223);
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  padding: 10px 24px;
}
.download-extension .extension.firefox {
  margin-top: 40px;
}
.download-extension .extension.opera {
  margin-top: 80px;
}

.questions {
  padding-top: 149px;
  padding-bottom: 149px;
}
.questions .container {
  max-width: 541px;
  padding: 0;
}
.questions .header {
  text-align: center;
  margin-bottom: 56px;
}
.questions .header .title {
  color: rgb(36, 42, 69);
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  margin-bottom: 16px;
}
.questions .header p {
  color: rgb(145, 148, 162);
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 18px;
  width: 100%;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.questions .accordion {
  margin-bottom: 54px;
}
.questions .accordion .accordion-item {
  border-bottom: 1px solid rgba(145, 148, 162, 0.5);
}
.questions .accordion .accordion-item:first-child {
  border-top: 1px solid rgba(145, 148, 162, 0.5);
}
.questions .accordion .head {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.questions .accordion .title {
  line-height: 32px;
  font-size: 18px;
  color: rgb(36, 42, 69);
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.questions .accordion .icon {
  display: block;
  width: 16px;
  height: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.questions .accordion .body {
  max-height: 0;
  overflow: hidden;
}
.questions .action {
  padding: 10px 24px;
  font-weight: 500;
  color: white;
  font-size: 14px;
  line-height: 28px;
  background-color: rgb(82, 103, 223);
  border-radius: 5px;
  display: table;
  margin: 0 auto;
}

footer {
  background-color: rgb(82, 103, 223);
}
footer .body {
  padding: 58px 0 74px 0;
  text-align: center;
  max-width: 442px;
}
footer .title {
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 25px;
  letter-spacing: 5px;
}
footer p {
  font-weight: 500;
  font-size: 32px;
  color: white;
  line-height: 40px;
  letter-spacing: -0.1px;
  margin-bottom: 36px;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
footer form input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
  background-color: white;
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: rgb(145, 148, 162);
}
footer form input[type=email]::-webkit-input-placeholder {
  color: rgba(145, 148, 162, 0.25);
}
footer form input[type=email]::-moz-placeholder {
  color: rgba(145, 148, 162, 0.25);
}
footer form input[type=email]:-ms-input-placeholder {
  color: rgba(145, 148, 162, 0.25);
}
footer form input[type=email]::-ms-input-placeholder {
  color: rgba(145, 148, 162, 0.25);
}
footer form input[type=email]::placeholder {
  color: rgba(145, 148, 162, 0.25);
}
footer form input[type=button] {
  background-color: rgb(250, 89, 89);
  border-radius: 5px;
  padding: 10px 24px;
  border: none;
  color: white;
  line-height: 28px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
}
footer .links {
  background-color: rgb(36, 42, 69);
}
footer .links nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .links nav .logo {
  display: block;
  width: 148px;
  margin-right: 63px;
}
footer .links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 44px;
}
footer .links nav ul a {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}
footer .links nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
footer .links nav .social a {
  display: block;
  width: 24px;
}
/*# sourceMappingURL=app.css.map */