.download-extension{
    text-align: center;
    padding-top: 149px;
    @include sm{
        padding-top: 70px;
    }
    .header{
        max-width: 540px;
        margin: 0 auto ;
        margin-bottom: 48px;
        @include sm{
            margin-bottom: 40px;
        }
        .title{
            font-size: 32px;
            font-weight: 500;
            line-height: 52px;
            color: $dark-blue;
            margin-bottom: 16px;
            @include sm{
                font-size: 24px;
                line-height: 52px;
                margin: 0;
            }
        }
        p{
            color: $grayish-blue;
            line-height: 28px;
            @include sm{
                font-size: 15px;
                line-height: 25px;

            }

        }
    }
    .extensions{
        .container{
            display: flex;
            gap: 34px;
            justify-content: center;
            align-items: flex-start;
            &.visible{
                .extension{
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            @include sm{
                flex-direction: column;
                padding: 0;
                gap: 40px;
            }
        }
    }
    
    .extension{
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
        max-width: 280px;
        flex: 1;
        opacity: 0;
        transform: translateY(-80px);
        transition: 0.5s ease-in;
        @include sm{
            max-width: none;
            width: 100%;
        }
        &:nth-child(1){
            img{
                max-width: 102px;
            }
        }
        &:nth-child(2){
            transition-delay: .2s;
            img{
                max-width: 105px;
            }
        }
        &:nth-child(3){
            transition-delay: .4s;
            img{
                max-width: 96px;
            }
        }

        &-body{
            text-align: center;
            padding-top: 49px;
            padding-bottom: 36px;
            background-image: url('../assets/bg-dots.svg') ;
            background-repeat: no-repeat;
            background-position: bottom;
           

            img{
                margin: 0 auto;
                margin-bottom: 32px;
            }
            .title{
                font-size: 20px;
                letter-spacing: 0.25px;
                font-weight: 500;
                color: $dark-blue;
                margin-bottom: 6px;
            }
            p{
                font-size: 15px;
                color: $grayish-blue;
                line-height: 28px;
    
            }
        }

        &-footer{
            padding: 24px 26px;
            a , a::after {
                transition: .3s ease-in;
                border-radius: 5px;
            }
            a{
                display: block;
                
                width: 100%;
                background-color: $soft-blue;
                color: white;
                text-align: center;
                font-size: 14px;
                line-height: 28px;
                padding: 10px 24px;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border: 2px solid transparent;

                }
                &:hover{
                    color: $soft-blue;
                    background-color: white ;
                    &::after{
                        border-color: $soft-blue;
                    }
                    
                }

            }
        }

        &.firefox{
            margin-top: 40px;
            @include sm{
                margin-top: 0;
            }
        }
        &.opera{
            margin-top: 80px;
            @include sm{
                margin-top: 0;
            }
        }
        
       

    }
    
}