.features{
    

    &-header{
        text-align: center;
        margin: 0 auto;
        margin-top: 80px;
        max-width: 530px;
     .title{
        color: $dark-blue;
        font-size: 32px;
        line-height: 52px;
        letter-spacing: 0.1px;
        font-weight: 500;
        margin-bottom: 16px;
     }   
     p{
        color: $grayish-blue;
        line-height: 28px;

     }

    }

    // clickable tabs
    .tabs{
        margin-top: 72px;
        
        .tab-items{
            display: flex;
            margin: 0 auto;
            max-width: calc(243px * 3);
            height: 49px;
            border-bottom: 1px solid rgba($grayish-blue , .3);
        }
        .tab-item{
            display: block;
            flex: 1;
            text-align: center;
            font-size: 16px;
            color: $dark-blue;
            cursor: pointer;
            border-bottom: none;
            &.active{
                border-bottom: 4px solid $soft-red;
            }
            
        }
    }

    .tabs-content{
        position: relative;
        height: 510px;

        &:after{
            content: '';
            height: 45.28%;
            height: 352px;
            border-radius: 0 316.5px 316.5px 0;
            background-color: $soft-blue;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            right: calc(50% + 80px);
        }
        .container{
            position: relative;
        }
        .tab-content{
            padding-top: 72px;
            padding-bottom: 89px;
            position: absolute;
            left: 0;
            right: 0;
            //transform: translateX(-50%);

           
            .container{
                //display: grid;
                gap: 125px;
                //width: 100%;
                display: flex;
                justify-content: end;
                
                .illustration , .text{
                    transition: 1s ease-out ;
                }
                .illustration{
                    //width: 50%;
                    transform: translateX(-80px);
                    opacity: 0;
                    //flex: 1;
                    width: 48.46%;
                }
                .text{
                    width: 40.5%;
                    padding-top: 57px;
                    transform: translateX(80px);
                    opacity: 0;
                    .title{
                        font-size: 32px;
                        color: $dark-blue;
                        line-height: 52px;
                        font-weight: 500;
                        margin-bottom: 16px;
                    }
                    p{
                        color: $grayish-blue;
                        line-height: 28px;
                        max-width: 445px;
                        margin-bottom: 32px;
                    }
                    a{
                        padding: 10px 24px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 28px;
                        letter-spacing: 0.25px;
                        color: white;
                        border-radius: 5px;
                        background-color: $soft-blue;
                        display: inline-block;

                    }
                }
            }

            &.active{
                transition-timing-function: ease-in;
                .illustration{
                    transform: translateX(0);
                    opacity: 1;
                }
                .text {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }

    // some specific mesurements
    #tab2{
        .illustration{
            display: flex;
            justify-content: end;
            img{
                width: 87.31%;
            }
        }
    }
    #tab3{
        .illustration{
            display: flex;
            justify-content: end;
            img{
                width: 82%;
            }
        }
    }
}