footer {
    background-color: $soft-blue;
  
    .body {
        padding: 58px 0 74px 0;
        text-align: center;
        max-width: 442px;
        @include sm{
            padding: 0 32px;
            padding-top: 60px;
            padding-bottom: 38px;
        }
    }
    .title{
        font-size: 13px;
        font-weight: 500;
        line-height: 40px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 25px;
        letter-spacing: 5px;
        @include sm{
            line-height: 40px;
            letter-spacing: 4.5px;
        }

    }
    p{
        font-weight: 500;
        font-size: 32px;
        color: white ;
        line-height: 40px;
        letter-spacing: -0.1px;
        margin-bottom: 36px;
        @include sm {
            font-size: 24px;

        }
    }
    form{
        display: flex;
        gap: 16px;
        @include sm{
            flex-direction: column;
        }
        input[type=email]{
            flex: 1;
            border-radius: 5px;
            background-color: white;
            line-height: 28px;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 20px;
            border: none;
            outline: none;
            color: $grayish-blue;
            &::placeholder{
                color: rgba($grayish-blue , .25);
            }
        }
        input[type=button]{
            background-color: $soft-red;
            border-radius: 5px;
            padding: 10px 24px;
            border: none;
            color: white ;
            line-height: 28px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .25px;
            position: relative;
            transition: .2s ease-in;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                outline: 2px solid $soft-red;
                background-color: white ;
                color: $soft-red;

            }
        }
    }

    .links{
        background-color: $dark-blue;
        nav{
            display: flex;
            padding: 32px 0;
            align-items: center;
            @include sm{
                flex-direction: column;
                gap: 40px;
            }
            .logo{
                display: block;
                width: 148px;
                margin-right: 63px;
                @include sm{
                    margin: 0 auto;

                }
            }
            ul{
                display: flex;
                flex: 1;
                gap: 44px;
                @include sm{
                    flex-direction: column;
                }
                a{
                    color: white;
                    text-transform: uppercase;
                    
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 17px;
                    letter-spacing: 1.5px;
                   
                    &:hover{
                        color: $soft-red;
                    }
                }
            }

            .social{
                display: flex;
                gap: 40px;
                a{
                    color: white;
                    display: block;
                    //width: 24px ;
                    font-size: 32px;
                    &:hover{
                        color:$soft-red;
                    }
                }
            }
        }
    }
}