.intro{
    position: relative;
    margin-top: 179px;
    padding-bottom: 123px;
    &::after{
        content: '';
        display: block;
        //width: 500px;
        height: 352px;
        background-color: $soft-blue;
        position: absolute;
        right: 0;
        border-radius: 316.5px 0 0 316.5px;
        bottom: 0;
        z-index: -1;
        left: calc(50% + 204px);
    }
    .container{
        display: flex;
        gap: 65px;
    }
    .intro-hero{
        position: relative;
        flex: 1;
        img{
            position: absolute;
            height: auto;
            z-index: 99;
            width: calc(100% + 73px);
            transform: scale(1.13);
            bottom: -21%;
        }
    }

    .intro-text{
        max-width: 540px;
        .title{
            font-size: 48px;
            color: $dark-blue;
            letter-spacing: 0.15px;
            margin-bottom: 24px;
            font-weight: 500;
            line-height: 52px;
        }
        p{
            color: $grayish-blue;
            line-height: 28px;
            margin-bottom: 32px;
        }
    }

    .actions{
        display: flex;
        gap: 16px;
        a{
            line-height: 28px;
            font-size: 14px;
            font-weight: 500;
            padding: 10px 24px;
            border-radius: 5px;
            &:first-child{
                background-color: $soft-blue;
                color: white;

            }
            &:nth-child(2){
                background-color: rgba(247, 247, 247, 1);
                color: $dark-blue;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
            }
        }
    }
}