.intro{
    position: relative;
    padding-top: 179px;
    padding-bottom: 123px;
    @include sm{
        padding-top: 80px;
        padding-bottom: 140px;
    }
    &::after{
        content: '';
        display: block;
        height: 352px;
        background-color: $soft-blue;
        position: absolute;
        right: 0;
        border-radius: 316.5px 0 0 316.5px;
        bottom: 0;
        z-index: -1;
        left: calc(50% + 204px);
        @include sm{
            width: 81%;
            left: unset;
            right: 0;
            height: 203px;
            top: calc(80px + 52px);
            bottom: unset;
        }
    }
    .container{
        display: flex;
        gap: 65px;
        @include sm{
            flex-direction: column-reverse;
            gap: 50px;
        }
    }
    .intro-hero{
        position: relative;
        flex: 1;
        transition: 1s ease-in ;
        opacity: 0;
        transform: translateX(50px);
        @include sm{
            width: 100%;
        }
        img{
            position: absolute;
            height: auto;
            z-index: 99;
            width: calc(100% + 73px);
            transform: scale(1.13);
            bottom: -21%;
            @include sm{
                transform: none;
                position: relative;
                width: 100%;
            }
        }

       
    }

    .intro-text{
        max-width: 540px;
        transition: 1s ease-in ;
        opacity: 0;
        transform: translateX(-50px);

        .title{
            font-size: 48px;
            color: $dark-blue;
            letter-spacing: 0.15px;
            margin-bottom: 24px;
            font-weight: 500;
            line-height: 52px;
            @include sm{
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 16px;
            }
        }
        p{
            color: $grayish-blue;
            line-height: 28px;
            margin-bottom: 32px;
            @include sm{
                font-size: 15px;
                line-height: 25px;
            }
        }
        @include sm{
            max-width: none;
            width: 100%;
            text-align: center ;
        }
    }

    .actions{
        display: flex;
        gap: 16px;
        @include sm{
            gap: 14px; 
        }
        a  , a::after{
            transition: .3s ease-in;
        }
        a{
            line-height: 28px;
            font-size: 14px;
            font-weight: 500;
            padding: 10px 24px;
            border-radius: 5px;
            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
            position: relative;
            @include sm{
                font-size: 14px;
                line-height: 28px;
                padding: 10px 16px;
                flex: 1;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                
                z-index: 2;
                border-radius: 5px;
                border: 2px solid transparent;

            }
            &:first-child{
                background-color: $soft-blue;
                color: white;
                &:hover {
                    color: $soft-blue;
                    background-color: white;
                    &::after {
                        border-color:$soft-blue;
                    }

                }
            }
            &:nth-child(2){
                background-color: rgba(247, 247, 247, 1);
                color: $dark-blue;
                &:hover {
                    color: $dark-blue;
                    background-color: white;
                   &::after{
                    border-color:$dark-blue;
                   }
                }
                
            }
        }
    }

    &.visible{
        .intro-hero{
            opacity: 1;
            transform: translateX(0);
        }
        .intro-text{
            opacity: 1;
            transform: translateX(0);
        }
    }
}