.questions{
    @include sm{
        display: none;
    }
    padding-top: 149px;
    padding-bottom: 149px;
    .container{
        max-width: 541px;
        padding: 0;

    }
    .header {
        text-align: center;
        margin-bottom: 56px;
        .title{
            color: $dark-blue;
            font-weight: 500;
            font-size: 32px;
            line-height: 52px;
            margin-bottom: 16px;
        }
        p{
            color: $grayish-blue;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0;
            font-size: 18px;
            width: 100%;
            font-style: normal;
            display: flex;
        }
    }

    .accordion{
        margin-bottom: 54px;
        .accordion-item{
            
            &:first-child{
                border-top : 1px solid rgba($grayish-blue , .5);

            }
            border-bottom: 1px solid rgba($grayish-blue , .5);

            &.open{
                .title , ion-icon{
                    color: $soft-red;
                }
                ion-icon{
                    transform-origin: center;
                    transform: rotate(180deg);
                }
                .body {
                    max-height: 100vh;
                    visibility: visible;
                }
            }
        }
        .head{
            padding: 18px 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            ion-icon{
                font-size: 20px;
                transition: .2s linear;
            }
            &:hover{
                .title , ion-icon{
                    color: $soft-red;
                }

            }
        }
        .title {
            //padding: 19px 0;
            line-height: 32px;
            font-size: 18px;
            color: $dark-blue;
            font-weight: 400;
            flex: 1;
        }   
        .icon{
            display: block;
            flex-shrink: 0;
            padding-top: 8px;
        } 
        .body {
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            transition: .5s linear;


            p{
                font-size: 16px;
                line-height: 36px;
                color: rgba(36, 42, 69, 1);
                letter-spacing: 0.15px;
                padding:  11px 0;
            }
        }
    }
    
    .action{
        padding: 10px 24px;
        font-weight: 500;
        color: white ;
        font-size: 14px;
        line-height: 28px;
        background-color: $soft-blue;
        border-radius: 5px;
        display: table;
        margin: 0 auto ;
    }
}