@import 'vars';

* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
html{
    font-size: $font-size ;
}
body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    position: relative;
}

/* container */
.container{
    max-width: calc( 1104px + ( 2 * #{$container-padding} ) );
    padding: 0 $container-padding;
    margin :0 auto;
    @include sm{
        width: 100%;
        padding: 0 31px;
    }

}
/* lists */
ul , ol {
    list-style: none;
}
/* links */
a{
    text-decoration: none;
}
/* images */
img{
    display: block;
    width: 100%;
    height: 100%;
}

/* some helper classes */
.hide{
    display: none !important;
    //visibility: hidden !important;
}

.for-mobile{
    display: none !important;
    @include sm{
        display: initial !important;
    }
}
.hide-on-mobile{
    @include sm {
        display: none !important;
    }
}

