/* Colors */
$soft-blue : rgba(82, 103, 223, 1);
$soft-red :  rgba(250, 89, 89, 1);
$dark-blue : rgba(36, 42, 69, 1); 
$grayish-blue : rgba(145, 148, 162, 1);

$font-size : 18px;

$container-padding : 2rem ;

$sm-breakpoint : 375px;